[submodule "Assets/Scripts/Libraries/BinarySerializer"]
	path = Assets/Scripts/Libraries/BinarySerializer
	url = https://github.com/BinarySerializer/BinarySerializer
[submodule "Assets/Scripts/Libraries/BinarySerializer.PS1"]
	path = Assets/Scripts/Libraries/BinarySerializer.PS1
	url = https://github.com/BinarySerializer/BinarySerializer.PS1
[submodule "Assets/Scripts/Libraries/BinarySerializer.Nintendo"]
	path = Assets/Scripts/Libraries/BinarySerializer.Nintendo
	url = https://github.com/BinarySerializer/BinarySerializer.Nintendo
